@charset "utf-8"
*{}

h1{
	background-image: url("texture/libtitle.jpg");
	font-size: 40pt;
	font-family: 'Mv Boli','Segoe Print',sans-serif;
	text-align: center;
}

p{
	background: gold;
	font-size: 20pt;
}

@font-face{
	font-family: 'WebFont';
	src:url('font/HuiFont109.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.WebFontClass{
	font-family: 'WebFont';
}