@charset "utf-8"
*{}

.header{
	width: 800px;
	height: 200px;
	background-image: url("texture/libtitle.png");
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

p{
	font-family: 'Mv Boli','Segoe Print',sans-serif;
	font-size: 20pt;
	position: absolute;
	top: 250px;
}

@font-face{
	font-family: 'WebFont';
	src:url('font/HuiFont109.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.WebFontClass{
	font-family: 'WebFont';
}

.centering{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	font-size: 40pt;
}
