@charset "utf-8"
*{}

div#header{
	width: 800px;
	height: 200px;
	background-image: url("texture/libtitle.png");
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

div#menu{
	width: 150px;
	height: 800px;
	background-image: url("texture/flower-back0137.jpg");
	position: absolute;
	top: 300px;
	right: 20px;
	font-size: 15pt;
}

p{
	box-shadow: 0pt -10pt 10pt -5pt #92FCFC inset, 0pt 10pt 10pt -3pt #92FCFC;
	font-family: 'Mv Boli','Segoe Print',sans-serif;
	font-size: 20pt;
	position: absolute;
	top: 250px;
}

@font-face{
	font-family: 'WebFont';
	src:url('font/HuiFont109.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.WebFontClass{
	font-family: 'WebFont';
}

.centering{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	font-size: 40pt;
}

.imagesize{
	width: 200;
}

.imageposition{
	position: absolute;
	top: 400px;
	left: 100px;
}